
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Locality</h1>

<f:flashMessages />

<table  class="tx_indiatravel" >
	<tr>
		<th><f:translate key="tx_indiatravel_domain_model_locality.title" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.short_description" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.description" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.lat" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.lng" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.top_destination" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.seotitle" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.seodescription" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.seokeys" /></th>
		<th><f:translate key="tx_indiatravel_domain_model_locality.informations" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{localities}" as="locality">
		<tr>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.shortDescription}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.lat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.lng}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.topDestination}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.seotitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.seodescription}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.seokeys}</f:link.action></td>
			<td><f:link.action action="show" arguments="{locality : locality}"> {locality.informations}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{locality : locality}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{locality : locality}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Locality</f:link.action>
</f:section>