
<table class="tx-indiatravel" >
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.title" />
		</td>
		<td>
		{locality.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.short_description" />
		</td>
		<td>
		{locality.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.description" />
		</td>
		<td>
		{locality.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.lat" />
		</td>
		<td>
		{locality.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.lng" />
		</td>
		<td>
		{locality.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.top_destination" />
		</td>
		<td>
		{locality.topDestination}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.seotitle" />
		</td>
		<td>
		{locality.seotitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.seodescription" />
		</td>
		<td>
		{locality.seodescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.seokeys" />
		</td>
		<td>
		{locality.seokeys}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_locality.informations" />
		</td>
		<td>
		{locality.informations}
		</td>
	</tr>
</table>