<!-- JQUERY -->
<script type="text/javascript" src="{f:uri.resource(path: 'Javascript/jquery/jquery-1.9.1.min.js', extensionName: 'dolomiticlass')}"></script>
<!-- JQUERY UI -->
<link href="{f:uri.resource(path:'Javascript/jqueryui/jquery-ui.min.css')}" rel="stylesheet">
<link href="{f:uri.resource(path:'Javascript/jqueryui/jquery-ui.min.css')}" rel="stylesheet">
<link href="{f:uri.resource(path:'Css/Frontend.css')}" rel="stylesheet">


<div class="tx-indiatravel">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <f:render section="main" />
</div>

<script src="{f:uri.resource(path:'Javascript/jqueryui/jquery-ui.min.js')}"></script>
<script src="{f:uri.resource(path:'Javascript/jqueryui/locale/datepicker-de.js')}"></script>
<script src="{f:uri.resource(path:'Javascript/jqueryui/locale/datepicker-it.js')}"></script>
<script src="{f:uri.resource(path:'Javascript/jqueryui/locale/datepicker-fr.js')}"></script>
<script src="{f:uri.resource(path:'Javascript/jqueryui/locale/datepicker-ru.js')}"></script>

<script type="text/javascript">
    var JS_CURRENT_LANGUAGE = "{JS_CURRENT_LANG}";
</script>


<script src="{f:uri.resource(path:'Javascript/indiatravel/main.js')}"></script>


