
<table class="tx-indiatravel" >
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.title" />
		</td>
		<td>
			{attraction.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.short_description" />
		</td>
		<td>
			{attraction.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.description" />
		</td>
		<td>
			{attraction.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.address" />
		</td>
		<td>
			{attraction.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.lat" />
		</td>
		<td>
			{attraction.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.lng" />
		</td>
		<td>
			{attraction.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.site" />
		</td>
		<td>
			{attraction.site}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.email" />
		</td>
		<td>
			{attraction.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.phone" />
		</td>
		<td>
			{attraction.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.mobile" />
		</td>
		<td>
			{attraction.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.fax" />
		</td>
		<td>
			{attraction.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.facebook" />
		</td>
		<td>
			{attraction.facebook}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.gplus" />
		</td>
		<td>
			{attraction.gplus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_attraction.twitter" />
		</td>
		<td>
			{attraction.twitter}
		</td>
	</tr>
</table>