
<table class="tx-indiatravel" >
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.title" />
		</td>
		<td>
		{article.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.short_description" />
		</td>
		<td>
		{article.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.description" />
		</td>
		<td>
		{article.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.timestamp" />
		</td>
		<td>
		{article.timestamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.tags" />
		</td>
		<td>
		{article.tags}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.seotitle" />
		</td>
		<td>
		{article.seotitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.seodescription" />
		</td>
		<td>
		{article.seodescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_indiatravel_domain_model_article.seokeys" />
		</td>
		<td>
		{article.seokeys}
		</td>
	</tr>
</table>